*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    background-color: #e5e5e5;
    
}


 main{
    display: flex;
    flex-direction: column;
    gap:20px;
    width: 100%;
   

}
.container{
    width: 100%;
    height: 50px;
    overflow: hidden;

}
.carossel{
    width: 100%;
    display: flex;
    position: relative;
 color:red;
}
.item{
    width: 100px;
    height: 50px;
    position: absolute;
    left:100%;
    animation: autoRun 20s linear infinite;
    animation-delay: /*calc(10 / var(--quantity)) **/var(--delay);
    cursor: pointer;
  
    
}

.item img{
    width: 100%;
    
}

@keyframes autoRun {
    from{
        left:100%
    }
    to{
        left: -50px;
    }
    
}

    /* http://youtube.com/watch?v=OmPAD9hU0zU */
