h1{background-color: blue; text-align: left;
color: white;}
h2{color: rgb(26, 24, 24);}
p{color: blue;}
.back{ color: black;}
.next{ color: black; position: relative; text-align: justify;}
.sumario{ color: black;}
