body{
    background-color: white;
}
 .l{ 
    color:rgb(206, 103, 18);


    font-family: "Jacquard 12 Charted", system-ui;
    font-weight: 400;
    font-style: normal;

  
 }
 .cap{
    color: blue;
 }