@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin:0;
    padding: 0;
    width: 100%;
    height: 100vh;
font-family: 'Inter', sans-serif;
    background-color: black;
}

main{

    justify-content: center;
    justify-items: center;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
    padding: 20px 0;
}
.container_perfil{
    display: flex;
    position: relative;
    flex-direction: column;
display: block;
    background-color: #1F1F1F;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
width: 390px;
    height: 700px;
    border-radius: 25px;
    border:4px solid rgb(255, 255, 255,0.1)
}
.link_contatos{
display: flex;
width: 363px;
height: 37px ;
border-radius: 11px ;
justify-content: center;
}

img{
    display: flex;
    position:static;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 162px;
    height: 175px;

    border: 2px solid black;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}
.img{
    margin-bottom: 10%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    justify-items:center;

}

.container_perfil .img img:hover{
    transform: scale(1.2);
    transition: all 0.3 ease-in-out;
}

h1,p,h4{
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 0;
    margin-top:3%;
    text-align: center;
    color:white;    
    z-index: 1001;
}
h4{
    color: #B4B4B4;
    margin-top: 43px;
    text-align: center;
    
}
.paragrafo>p{
    color: greenyellow;

}

ul{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style-type: none ;
    margin-top: 2%;
    
}
li{
    margin: 9px 12px 10px;
}


.container_perfil ul li .link_contatos:hover{
    background-color: #0d1117;;
    color: greenyellow;
    transform: scale(1.1);

}


    .container_perfil ul li  .link_contatos {
    text-decoration: none;
    color:white;    
    background-color: #4a4a4a;
    display: flex-end ;
    flex-direction: column;   
    transition: all 0.3s ease;
}


footer>p{
    margin-top:110px;
}

@media screen and ( min-width: 1024px){
    body{
        width: 100vw;
        height: 100%;
        margin: 0;
        padding: 0;

    }
    main{
        margin: 0;
        padding: 0;
            width: 100%;
    min-height: 100vh;
    padding: 20px 0;
    }

    footer>p{
    margin-top: 14px;
    }
}

@media screen and (max-width:767px  ){
body{
    margin: auto;
    padding: 0;
display: flex;
    opacity: 1;
}



main{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    padding: 2rem 0;

}

.container_perfil {
    height: 458px;
    margin-left:auto;
    margin-right: auto;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    justify-items: center;
            margin-top: -1%;

}
img{
    width: 110px;
    height: 111px;

}

h1,h4,p{
    font-size: 0.9rem;
    margin-top: 2%;
}
    


.container_perfil ul li .link_contatos {
        width: 160px;
        height: 28px;
    

}
footer >p {
    margin-top: 0px;
}
}

@media screen and  ( max-width:1020px){

    body{
        width: 100vw;
        height: 100%;
        margin: auto;
        padding: 0 ; 

    }

    footer>p
{
margin-top: 13px;
}
}