@{
    ViewData["Title"] = "Home Page";
}
<h1 class="text-white d-flex justify-content-center position-relative">
  FILMES
</h1>
<table class="table bg-white tabela justify-content-center position-relative">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome do Filme</th>
            <th scope="col">Genero</th>
            <th scope="col">Diretor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
        </tr>
        
    </tbody>
</table>