*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.56;
}
html,body{

margin: 0;
padding: 0;
width: 100%;
}
body{
    /* background-image:linear-gradient(#7568D9,#4735D3, #BFBBE0); */
     background:  linear-gradient(10grad,white,black);
    
    color:white;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    flex-direction: column ;
    display: flex;
    position: relative;
    background-attachment: fixed; 
}

header{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
    padding: 20px 50px   ;
    width:  100%;
        
}
main{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    
    align-items: center;
    width: 100%;
    padding: 20px;   
    margin-top: 20%;
  }

  /* menu */
  nav{
    display: flex;
    align-items: center;
    justify-content:left;
    width: auto;
  }

nav > .menu{
    display: flex;
    position: relative;
    list-style: none;
   gap:30px;
   padding: 0;

}

nav > .menu .link_menu{
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    transition: 0.3s;
    display: block; /*Garante que o link ocupe toda area do li*/
    position: relative;
    padding: 5px;
}
/* minha_foto  e texto do titulo*/
.container_foto{
    display:block;
    justify-content:flex-end;
    align-items:flex-start;
    position: relative;
    background: black;
    border-radius:50%;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border: 6px solid white; 
    box-shadow: 0 0 20px rgba(71, 53, 211, 0.4);
    padding: 1px;
       transition: 0.5s;
       margin-left:AUTO;
       margin-right: auto   ;
       margin-top: 50px;
  
}  

.container_foto .eu{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter:brightness(1.1) contrast(1.1 saturate(1.2));
    transition: 0.5s ease;
    /* background: linear-gradient(90deg, black,blue); */
    background-color: black;
    justify-content: center;
    
}
.container_foto:hover .eu{
    filter:brightness(1.1)saturate(1.5);
    transform: scale(1.05);
}   
